@import "./styles/button.css";
@import "./styles/control.css";
@import "./styles/form.css";
@import "./styles/modal.css";
@import "./styles/table.css";

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 20px;
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  color: #0F172A;
  margin-bottom: 24px;
}
