@import "./styles/button.css";
@import "./styles/control.css";
@import "./styles/form.css";
@import "./styles/modal.css";
@import "./styles/table.css";

.nav-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 20px;
}

.contact-list-container {
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  color: #0f172a;
  margin-bottom: 24px;
}
